#from git extensions
*.obj
*.exe
*.exp
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
[Dd]ebug*/
*.sbr
Thumbs.db
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
gltest3/
lib-mingw/
docs/
doc/

#own
[Oo]bj*/
[Ii]pch/
*.*sdf*
#*.PIXExp

assets/
*/bin/
